<!DOCTYPE html>
<html>
<head>
<title>Admin Console</title>
</head>
<body>

<h1>List of Cafes</h1>
<table>
  <tr>
    <th>
      Cafe Name
    </th>
    <th>
      Manage Business
    </th>
    <th>
      Edit Info
    </th>
    <th>
      Archive This Cafe?
    </th>
    <th>
      View Cafe Info
    </th>
    <th>
      View Menu
    </th>
  </tr>
  <% cafes.forEach(function(cafe) { %>
  <tr>
    <td>
      <%= cafe.name %>
    </td>
    <td>
      <a href ="/cafeAdmin?cafeId=<%= cafe.id %>">Manage</a>
    </td>
    <td>
      <button>Edit</button>
    </td>
    <td>
      <button>Archive</button>
    </td>
    <td>
      <button>View</button>
    </td>
    <td>
      <button>Menu</button>
    </td>
  </tr>
  <% }); %>
  <!-- <tr>
    <td>
      Michele's Pattiseries
    </td>
    <td>
      <a href ="/cafeAdmin">Manage</a>
    </td>
    <td>
      <button>Edit</button>
    </td>
    <td>
      <button>Archive</button>
    </td>
    <td>
      <button>View</button>
    </td>
    <td>
      <button>Menu</button>
    </td>
  </tr> -->
</table>

<p><a href = "/archivedCafe">View Archived Cafes...</a></p>
</body>
</html>
